<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEST #2 Page</h1>

    <a href="./index.html">Test #1 page</a>
    <a href="./sub_page.html">Test #2 page</a>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, possimus odit.<br/> 
        Consequuntur eligendi reprehenderit fugiat voluptatem consequatur maxime corrupti omnis.<br/>
        Temporibus commodi ipsam eligendi, iure asperiores exercitationem ex recusandae consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga repellendus nesciunt nisi,<br/> 
        ut optio autem sed perferendis praesentium? Alias, excepturi.</p>

</body>
</html>